<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Register</title>
</head>

<body>
  <h1>Register</h1>
  <form action="/register" method="post">
    <div>
      <label>Name:</label>
      <input required type="text" name="name"/>
    </div>
    <div>
      <label>Username:</label>
      <input required type="text" name="username" />
    </div>
    <div>
      <label>Password:</label>
      <input required type="password" name="password" />
    </div>
    <div>
      <label>Phone:</label>
      <input required type="tel" name="phone"/>
    </div>
    <div>
      <label>Email:</label>
      <input type="text" name="email" placeholder="Optional"/>
    </div>
    <div>
      <input type="submit" value="Register" />
    </div>
  </form>
</body>

</html>
