<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Order</title>
  </head>

  <body>
    <h1>Order</h1>
    {% if user.username == "admin" %}
      Access the admin dashboard
      <a href="/line">here</a>
    {% endif %}
    <form class="form" action="/order" method="post">
      <div class="menu">
        <h1>Menu</h1>
      </div>
      <div class="item">
        <h1>Item</h1>
      </div>
      <div class="cart">
        <h1>Cart</h1>
        <div class="items"></div>
        <div>
          <input type="submit" value="Order"/>
        </div>
      </div>
    </form>
    <script src="/javascript/socket.io.js"></script>
    <script>
      // Right here bro
      // Is it found? ^^^
      // What?
      // /javascript/socket.io.js
      // Yeah it ins
      // But your server never shows connected message?
      // Yep

      var socket = io();
    </script>
    <script src="/javascript/order.js" charset="utf-8"></script>
  </body>

</html>
